[package]
name = "datatest-stable"
version = "0.1.1"
description = "Data-driven tests that work on stable Rust"
repository = "https://github.com/nextest-rs/datatest-stable"
license = "MIT OR Apache-2.0"
publish = ["crates-io"]
readme = "README.md"
edition = "2021"
categories = ["development-tools::testing"]
keywords = ["datatest", "data-driven-tests", "test-harness"]

[dependencies]
libtest-mimic = "0.3.0"
regex = "1.5.4"
walkdir = "2.3.2"
termcolor = "1.1.2"

[[test]]
name = "example"
harness = false
