on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI
env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@720f7e45ccee46c12a7b1d7bed2ab733be9be5a1 # v2
      - name: Lint (clippy)
        run: cargo clippy --all-features --all-targets
      - name: Lint (rustfmt)
        run: cargo xfmt --check
      - name: Install cargo-sync-rdme and just
        uses: taiki-e/install-action@3c8fc6eaa5fcff049bb133c1f540c6c2287a191f # v2
        with:
          tool: cargo-sync-rdme,just
      - name: Install nightly toolchain for cargo-sync-rdme
        uses: dtolnay/rust-toolchain@nightly
      - name: Generate readmes
        run: just generate-readmes
      - name: Check for differences
        run: git diff --exit-code

  build-rustdoc:
    name: Build documentation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@720f7e45ccee46c12a7b1d7bed2ab733be9be5a1 # v2
      - name: Build rustdoc
        run: cargo doc --all-features

  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        rust-version: ["1.72", stable]
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
      - uses: Swatinem/rust-cache@720f7e45ccee46c12a7b1d7bed2ab733be9be5a1 # v2
        with:
          key: ${{ matrix.rust-version }}
      - name: Install tools
        uses: taiki-e/install-action@3c8fc6eaa5fcff049bb133c1f540c6c2287a191f # v2
        with:
          tool: cargo-hack,just,nextest
      - name: Build
        run: just powerset build
      - name: Build with all targets
        run: just powerset build --all-targets
      - name: Run tests
        run: just powerset nextest run
      - name: Run tests with cargo test
        run: just powerset test

      # Remove Cargo.lock to ensure that building with the latest versions works on stable.
      - name: Remove Cargo.lock and rebuild on stable
        if: matrix.rust-version == 'stable'
        run: rm Cargo.lock && cargo build
      - name: Build with all targets
        if: matrix.rust-version == 'stable'
        run: just powerset build --all-targets
      - name: Run tests on stable
        if: matrix.rust-version == 'stable'
        run: just powerset nextest run
      - name: Run tests with cargo test on stable
        if: matrix.rust-version == 'stable'
        run: just powerset test
